<div class="row gradiente">
  <div class="separate-top">
    <h1 class="titulo">Educación</h1>
  </div>

  <li class="row" *ngFor="let educacion of educacionList">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img [src]="educacion.imagen" class="img-fluid dad-image" />
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <h3 class="school-name">{{ educacion.educacion }}</h3><h3 class="school-name">{{educacion.duracion}}</h3>

      <h3 class="school-description">
        <p>{{educacion.descripcion}}</p>
      </h3>
    </div>
  </li>
</div>
