<div class="row gradiente">
  <div class="separate-top">
    <h1 class="titulo">Educación</h1>
  </div>

 <li class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="../../../assets/escuelasdad.png" class="img-fluid dad-image" />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <h3 class="school-name">Departamento de Aplicación Docente.</h3>

          <h3 class="school-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </h3>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="../../../assets/escuelasmagisterio.png" class="img-fluid dad-image" />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <h3 class="school-name">Escuela del Magisterio.</h3>

          <h3 class="school-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </h3>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="../../../assets/logo-psicologia.png" class="img-fluid uda-image" />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <h3 class="school-name">Facultad de Psicologia, Universidad del Aconcagua.</h3>

          <h3 class="school-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </h3>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="../../../assets/egggray.png" class="img-fluid egg-image" />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <h3 class="school-name">Egg Education.</h3>

          <h3 class="school-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </h3>
        </div>
 </li>
  
</div>

