<div class="row gradiente">
  <div class="separate-top">
    <h1 class="titulo">Experiencia laboral</h1>
  </div>
    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img
        src="../../../assets/vinculatlogo-modified.png"
        class="img-fluid first-job-logo"
      />
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <h3 class="first-job-name">Primer Trabajo</h3>
      
      <h3 class="first-job-description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo porro
        fugiat doloremque deleniti saepe tempora beatae, maiores corporis nulla,
        facilis vitae ad eligendi assumenda aperiam? Quia voluptatem a amet
        molestias?
      </h3>
    </div>
    
    
  
</div>

<div class="row gradiente2">
    
    
      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img
          src="../../../assets/vinculatlogo-modified.png"
          class="img-fluid first-job-logo"
        />
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

        <h3 class="first-job-name">Segundo Trabajo</h3>
        
        <h3 class="first-job-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo porro
          fugiat doloremque deleniti saepe tempora beatae, maiores corporis nulla,
          facilis vitae ad eligendi assumenda aperiam? Quia voluptatem a amet
          molestias?
        </h3>
      </div>
      
      
    
  </div>
  
