<div class="gradiente">
<h1 class="titulo separate-top">Hard and Soft Skills</h1>
<div class="row separate-top">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/html5icon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">HTML</h3>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/cssicon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">CSS</h3>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/JSicon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">JavaScript</h3>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/githubicon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">GitHub</h3>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/coopicon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">Teamwork</h3>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="110"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [title]="'HTML'"
      [imageSrc]="'../../../assets/inglesicon.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [subtitle]="'50%'"
      [subtitleFontSize]="'1.20em'"
      [innerStrokeColor]="'#c0bfc5'"
      [innerStrokeWidth]="13"
      [space]="-13"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#4e0ee1'"
      [outerStrokeGradientStopColor]="'#9e8edc'"
      [outerStrokeWidth]="15"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <h3 class="descripcion">Inglés</h3>
  </div>
</div>
</div>
