<div class="gradiente">
  <div class="row">
    <div class="separate-top">
      <h1 class="titulo">Experiencia laboral</h1>
    </div>
    <li class="row" *ngFor="let experiencia of experienceList">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img [src]="experiencia.imagen" class="img-fluid first-job-logo" />
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <h3 class="first-job-name">{{ experiencia.experience }}</h3>
        <h3 class="first-job-name">{{ experiencia.duracion }}</h3>

        <h3 class="first-job-description">
          <p>{{ experiencia.descripcion }}</p>
          
        </h3>
      </div>
    </li>
  </div>
</div>
