<div id="top" class="background-image"> <!-- La imagen esta en el CSS con los atributos + flex -->
    <div class="background-filter"></div> <!--Se crea otro div+class dentro del de la imagen para el filtro, ver en CSS -->
    <h1 class="nombre">Franco Tiviroli Lardet</h1> <!--Los atributos estan en CSS pero tambien aca-->
    <h3 class="subnombre">Mendoza, Argentina.</h3>    <!-- ya que usar Bootstrap sustituyo la configuracion-->

    <div>
  
      <a class="to-the-top"  href="#top"><i class="bi bi-arrow-up-circle-fill"></i></a>
  
  
  
  
    </div>

    
    <div class="btn-group">
            
        <a href="#about" class="btn btn-primary">Acerca de mi   <i class="bi bi-person-lines-fill"></i></a>
        <a href="#proyectos" class="btn btn-primary">Proyectos      <i class="bi bi-folder2"></i></a>
        <a href="#descarga" class="btn btn-primary">Descargar CV   <i class="bi bi-file-arrow-down"></i></a>
        <a href="#contacto" class="btn btn-primary">Contacto       <i class="bi bi-chat-dots"></i></a>
  
      </div>
    
</div>   
    
    
