<div class="row">
  <div class="container">
    <div>
      <img src="../../../assets/APLogo.png" class="img-fluid" id="logoAP" />
    </div>

    <div>
        <a href="https://twitter.com/francotiviroli"
            ><img src="../../../assets/twitter.png"  class="social-img botones"
        /></a>
        <a href="https://www.facebook.com/Tiviroli.F/"
            ><img src="../../../assets/facebook.png"  class="social-img botones"
        /></a>
        <a href="https://www.instagram.com/francotiviroli/"
            ><img src="../../../assets/instagram.png"  class="social-img botones"
        /></a>
        <a href="https://www.linkedin.com/"
            ><img src="../../../assets/linkedin.png"  class="social-img botones"
        /></a>
        <a href="https://github.com/tiburon99"
            ><img src="../../../assets/github.png"  class="social-img botones"
        /></a>

        <button type="button" class="btn btn-outline-light botones login-text"> Ingreso </button>
    </div>
  </div>
</div>
