<div class="row gradiente">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img
      src="../../../assets/FOTOPERFILCIRCLE.png"
      class="img-fluid perfil-photo"
    />
  </div>

  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <h1 class="saludo" id="salute">¡Hola!</h1>
    <h3 class="descripcion"  id="texto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum
      tempora sint quod aspernatur. Cumque eligendi facilis totam enim,
      voluptatum eaque unde aliquam provident ipsa perspiciatis ex iste corporis
      dolor! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
      vel commodi quisquam totam ullam ipsum soluta excepturi! Iure,
      necessitatibus facilis consectetur, illo, ipsam vitae cum quod culpa quas
      voluptatem sed!
    </h3>
  
</div>
