

.separate-top{
    margin-top: 5em;
}



.perfil-photo{
    margin-top: 1em;
    margin-left: 7em; 
    height: 25em;
    box-shadow: 0 0 0 3px #302f2f;
    background-color: #3c3b40;
    border-radius: 50%;
    
    
}

.titulo{
    margin-top: 2em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.saludo{
    margin-top: 1.50em;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.descripcion{
    margin-top: 1.50em;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;  

}

.gradiente{
    background: linear-gradient(180deg, rgb(152, 162, 192) 5%, rgb(248, 248, 248) 95%); 
    
}

@media (max-width: 1600px){
    #texto{
        text-align: right;
    }
    #salute{
        text-align: center;
    }
}



