<div class="gradiente">
  <div class="row">
    <h1 class="titulo separate-top">Proyectos</h1>

    <div class="col-sm-12 col-md-4 col-lg-4 separate-top">
      <img src="../../../assets/ideaicon.png" class="img-fluid img-proyecto" />
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5 separate-top">
      <h3 class="descripcion">On my way</h3>
      <h3 class="texto">
        De a poco ésta sección podrá ir llenándose, en la medida que mis conocimientos estén a la altura de permitirme crear.
      </h3>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 separate-top">
        <img src="../../../assets/ideaicon.png" class="img-fluid img-proyecto" />
      </div>
  
      <div class="col-sm-12 col-md-5 col-lg-5 separate-top">
        <h3 class="descripcion">On my way 2</h3>
        <h3 class="texto">
          Si no cree uno, imposible tener dos.
        </h3>
      </div>
  </div>
</div>
